.main__box {
  min-height: 600px;
  width: 500px;
  max-width: 700px;
  display: block;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.246);
}

.fotter {
  min-height: 55px;
  min-width: 100%;
  display: flex;
  background: #3333;
}
.messageArea {
  flex: 1;
  padding: 0px 20px;
  padding-top: 10px;
}
.typingContainer {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-around;
}
.typingContainer__box {
  flex: 1;
  border: none;
  outline: none;
  background: #ffffff;
  height: 100%;
  padding: 0px 10px;
  font-size: 1.1em;
  border-top: 1px solid rgba(51, 51, 51, 0.274);
}
.send__icon {
  padding: 15px 18px;
  text-align: center;
  background: #f57224;
  color: #333;
}
.user1 {
  margin-right: 0px;
}
/* styling for header component */
.header{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#0084ff;
  color: #ffffff;
  padding:0 10px;
}
.logo{
  /* width: 50%; */
  display: flex;
  align-items: center;
}
.active_status{
  /* width: 50%; */
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;

}
.img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #111;
}
.logo_name{
  margin: 0 10px ;
}