/* styling the main part */
.main__box {
  min-height: 600px; 
  max-height: 600px; 
  width: 500px;
  max-width: 700px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px; 
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(51, 51, 51, 0.431);
}

/* styling the header part */
.header {
  width: calc(100% - 20px);
  min-height: 80px;
  max-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0084ff;
  color: #ffffff;
  padding:0px  10px;
}
.logo {
  width: 50%;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}
.active_status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.img_container {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  /* border: 1px solid #111; */
}
.img_container img {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.logo_name {
  margin: 0 10px;
}
span {
  height: 10px;
  width: 10px;
  background-color: #0084C0;
  border-radius: 50%;
  font-size: 13px;
  margin: 0 10px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  box-shadow: 0px 0px 10px rgba(236, 236, 236, 0.157);
}

/* styling the middle chat area */

.messageArea {
  flex: 1;
  padding: 0px 20px;
  padding-top: 10px;
  overflow-y: scroll;
  max-height: 600px;
  background: #fff;
  overflow-x: hidden;
}
/* styling the scroll bar  */
.messageArea::-webkit-scrollbar{
width: 10px;
}
.messageArea::-webkit-scrollbar-track{
background: #fff; 
}
.messageArea::-webkit-scrollbar-thumb{
  background: #bbbbbb;
  border-radius: 5px;
}

/* for the both users  */
.user__logo {
  object-fit: contain;
  width: 30px;
  border-radius: 50%;
  margin-top: auto;
}
.message {
  padding: 8px 15px;
  background: #e8e8e8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  max-width: 300px;
  word-wrap: break-word;
}
.message__container {
  display: flex;
  flex-direction: column;
}

.message__row {
  margin-top: 3px;
  display: flex;
}

/* for the  user one */
.user1 {
  margin-right: 0px; 
  width:100%;
}
.user1 .user__logo {
  margin-right: 10px;
}
.user1 {
  margin-right: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.message__row:nth-of-type(1) > .message {
  border-top-left-radius: 20px;
}

.message__row:nth-last-of-type(1) > .message {
  border-bottom-left-radius: 20px;
}
/* for the user two  */
.user2 .user__logo {
  margin-left: auto;
}

.user2 {
  float: right;
  display: flex; 
  margin-bottom: 20px;
  clear: both;
}

.user2 .message__container {
  margin-right: 10px;
}
.user2 .message {
  background: #0084ff;
  color: #fff;
  margin-left: auto;
}

.user2 .message__row:nth-of-type(1) > .message {
  border-top-right-radius: 20px;
}
.user2 .message__row:nth-last-of-type(1) > .message {
  border-bottom-right-radius: 20px;
}
.user2 .message {
  border-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* styling the bottom part */
.fotter {
  min-height: 55px;
  min-width: 100%;
  display: flex;
  background: #3333;
}

.typingContainer {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-around;
}
.typingContainer__box {
  flex: 1;
  border: none;
  outline: none;
  background: #ffffff;
  height: 100%;
  padding: 0px 10px;
  font-size: 1.1em;
  border-top: 1px solid rgba(51, 51, 51, 0.274);
}
.send__icon {
  padding: 15px 18px;
  text-align: center;
  background: #0084ff;
  color: #fff;
  cursor: pointer;
}